<div id="partial">
<form action="/myPurchases" method="POST">
    <button type="submit">MY PURCHASES</button>
</form>
<a href="/purchase">PURCHASE OR CART</a>
</div>

<style>
    a {
        padding-bottom: 20px;
    }

    #partial {
        display: inline;
    }
</style>