<div><a href="/addItem">Add Items</a></div>
<div><a href="/updateItem">Update Items</a></div>
<form action="/mySales" method="POST">
    <button type="submit">MY SALES</button>
</form>

<style>
    div {
        padding-bottom: 20px;
    }
</style>