<%= cart %>

<form action="/cart" method="POST">
    <label for='code'>Enter code of item to remove from CART</label>
    <input type="text" id="code" name="code">
    <button type="submit">CONFIRM</button>
</form>