<h1>HI <%= user.username %> </h1>
<h2>This is a <%= user.userType %> account</h2>

<% if(user.userType == "Seller") {%>
<%- include('partials/Seller.ejs'); -%>
<% } %>

<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">LOG OUT</button>
</form>