<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="loginStyle.css">
    </head>
    <body>
        <h1>DIGISHOP</h1>
<h1>USER LOGIN</h1>

<% if(messages.error) { %>
    <%= messages.error  %>
<% } %>

<form action="/login" method="POST">
    <div>
        <label for="username">USERNAME</label>
        <input type="username" id="username" name="username" required>
    </div>
    <div>
        <label for="password">PASSWORD</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">LOGIN</button>
</form>
<a href="/register">REGISTER</a>
    
    </body>
</html>
