<%= itemConfirmed %>
<p>Quantity Requested: <%=quantityRequested%></p>

<form action="/purchase/confirm" method="POST">
    <button type="submit">CONFIRM PURCHASE</button>
</form>

<form action="/purchase/cart" method="POST">
    <button type="submit">ADD TO CART</button>
</form>