<html>
    <h2>Search for required product</h2>
<form action="/purchase" method="POST">
    <label for="code">Enter Item Code:</label>
    <input type="text" name="code">
    <label for="quantity">Enter Quantity Required:</label>
    <input type="text" name="quantity">
    <button>SUBMIT</button>
</form>
</html>

<style>
    html {
        background-color: blanchedalmond;
    }

    h2 {
        text-align: center;
    }

    form {
        font-size: xx-large;
        text-align: center;
        position: relative;
        top: 400px;
    }
</style>