<form action="/purchase" method="POST">
    <label for="code">Enter Item Code:</label>
    <input type="text" name="code">
    <label for="quantity">Enter Quantity Required:</label>
    <input type="text" name="quantity">
    <button>SUBMIT</button>
</form>