html {
    background-color: wheat;
}

h1 {
    text-align: center;
    font-size: xx-large;
}

div {
    text-align: start;
}

h2 {
    text-transform: capitalize;
}

#user, #account {
    padding-left: 90px;
}

#product {
    padding-left: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: x-large;
}

form, a {
    padding-left: 90px;
    padding-bottom: 10px;
}

#partial {
    display: inline;
}